.hero-slide {
  display: flex;
  flex-direction: row-reverse;
  padding: 30px 15px;

  .wrapper {

    @media screen and (min-width: $tablet) {
      max-width: 720px;
    }
  }

	.left-hero-wrapper {
		position: absolute;
		top: 0;
		bottom: 0;
	}

  .right-hero {
    padding-left: 175px;;

    img {
      min-height: 350px;
      object-fit: cover;

      @media screen and (min-width: $desktop) {
        width: 100%;
        height: 615px;
        max-width: none;
      }
    }
  }

  .left-hero {
    width: 380px;
	  height: 100%;
	  display: flex;
	  align-items: center;

    .left-hero-wrap {
      display: flex;
      flex-direction: column;
      margin-top: 30px;
    }
  }

  .hero-caption {
    background-color: #f7b500;
    display: inline-block;
    padding: 10px 30px;
    white-space: nowrap;
    font-size: 35px;
    margin-bottom: -15px;
    animation-delay: 0.2s;


    @media screen and (min-width: $tablet) {
      font-size: 42px;
      font-weight: 700;
      line-height: 1.8;
    }

    @media screen and (min-width: $desktop) {
      font-size: 65px;
      padding: 15px 35px;
    }
  }

  .hero-cta {
    display: flex;
    align-items: center;
    margin-top: 35px;

    @media screen and (min-width: $tablet) {
      font-size: 18px;
    }

    @media screen and (min-width: $desktop) {
      font-size: 20px;
    }

    .hero-cta-icon {
      margin-left: 8px;
      margin-top: 5px;
    }
  }
}
