.oleez-landing-section-team {
    padding-top: 130px;
    padding-bottom: 125px;
    overflow: hidden;

    .wrapper {

        @media screen and (min-width: $tablet) {
            max-width: 720px;
        }

        @media screen and (min-width: $desktop) {
            max-width: 1200px;
        }
    }

    .oleez-landing-section-content {
        position: relative;
        padding-left: 50px;

        @media screen and (min-width: $tablet) {
            padding-left: 112px;
        }

        @media screen and (min-width: $desktop) {
            padding-left: 212px;
        }
    }

    .oleez-landing-section-verticals {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        padding-top: 11px;

        .number {
            font-size: 20px;
            color: #f7b500;
            line-height: 1;
            display: inline-block;
            margin-right: 13px;

            @media screen and (min-width: $desktop) {
                font-size: 25px;
            }
        }
    
        img {
            position: relative;
            top: -3px;
            display: none;
        }
    }

    .landing-team-content {
        margin-bottom: 52px;
        overflow: hidden;
    }

    .column {
        position: relative;
        width: 100%;

        @media screen and (min-width: $tablet) {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }

    .row {
        margin-right: -15px;
        margin-left: -15px;

        @media screen and (min-width: $tablet) {
            display: flex;
            flex-wrap: wrap;
        }

        @media screen and (min-width: $desktop) {
            flex-wrap: nowrap;
        }
    }

    .section-title {
        font-size: 30px;
        line-height: 1.33;
        font-weight: 500;
    }

    .landing-team-card {
        margin-bottom: 3rem;

        @media screen and (min-width: $tablet) {
            margin-left: 25px;
            margin-right: 25px;
        }
    }

    .team-card-img {
        width: 100%;
        margin-bottom: 39px;
    }

    .team-card-name {
        font-size: 18px;
        font-weight: 500;
        line-height: 1;
        margin-bottom: 10px;
    }

    .team-card-job {
        font-size: 14px;
        line-height: 1;
        margin-bottom: 16px;
    }

    .team-card-social-links {
        display: flex;

        a {
            font-size: 14px;
            font-weight: 700;
            line-height: 1;
            margin-right: 10px;
            color: #100e0e;
        }
    }

}