.oleez-landing-section-about {
    padding-top: 130px;
    padding-bottom: 125px;

    .oleez-landing-section-content {
        padding-left: 212px;
        position: relative;
    }

    .oleez-landing-section-verticals {
        visibility: visible;
        animation-name: fadeIn;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        padding-top: 11px;
    }

    .landing-about-content {
        margin-bottom: 70px;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }

    .oleez-landing-section-verticals .number {
        font-size: 20px;
        color: #f7b500;
        line-height: 1;
        display: inline-block;
        margin-right: 13px;
    }

    .column {
        flex: 0 0 50%;
        max-width: 50%;


        h2 {
            font-size: 30px;
            line-height: 1.33;
            font-weight: 500;
            margin-bottom: 10px;
        }

        p{
            font-size: 15px;
            line-height: 1.67;
            margin-bottom: 10px;
            margin-top: 5px;
        }
    }

    .landing-about-feature {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;

        img {
            margin-bottom: 45px;
            vertical-align: middle;
            border-style: none;
        }

        h5 {
            line-height: 1.1;
            margin-bottom: 13px;
            font-size: 20px;
            font-weight: 500;
        }

        p {
            font-size: 14px;
            line-height: 1.71;
            font-weight: 300;
        }
    }

}