.oleez-landing-section-client {
    padding-top: 130px;
    padding-bottom: 125px;
    background-color: #f8f4eb;

    .oleez-landing-section-content {
        padding-left: 50px;

        @media screen and (min-width: $tablet) {
            padding-left: 112px;
        }
        
    }

    .oleez-landing-section-verticals {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        padding-top: 11px;

        .number {
            font-size: 1.25rem;
            color: #f7b500;
            line-height: 1;
            display: inline-block;
            margin-right: 0.8125rem;
        }

        .oleez-landing-section-verticals img {
            display: none;
        }
    }

    .section-title {
        font-size: 30px;
        line-height: 1.33;
        font-weight: 500;
    }

    .client-section-subtitle {
        font-size: 15px;
        line-height: 2;
        margin-bottom: 48px;
    }

    .row {
        display: inline-block;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;

        @media screen and (min-width: $tablet) {
            display: flex;
            flex-wrap: wrap;    
        }

        .column {
            padding-top: 15px;
            padding-bottom: 15px;
        }

        .client-logo {
            border: 1px solid #f1e2c2;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 36px 28px;

            .client-logo img {
                max-width: 100%;
                -o-object-fit: contain;
                object-fit: contain;
            }
        }
    }

}