.oleez-landing-section-carousel {
    overflow: hidden;
    padding-top: 130px;
    padding-bottom: 125px;

    .oleez-landing-section-content {
        position: relative;

            @media screen and (min-width: $tablet) {
                padding-left: 130px;
                }

                @media screen and (min-width: $desktop) {
                    padding-left: 212px;
                }
        }

    .oleez-landing-section-verticals {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        padding-top: 11px;

        @media screen and (min-width: $desktop) {
            margin-top: 15px;
        }

        img {

            @media screen and (max-width: $mobile) {
                display: none;
            }
        }

        .number {
            font-size: 20px;
            color: #f7b500;
            line-height: 1;
            display: inline-block;
            margin-right: 0.8125rem;

            @media screen and (min-width: $desktop) {
                font-size: 25px;
            }
        }

        img {
            display: none;

            @media screen and (min-width: $desktop) {
                    position: relative;
                    top: -3px;
                    display: inline;
            }
        }
    }


    .landing-about-content {
        margin-bottom: 70px;
    }

    .row {
        margin-left: 45px;

        @media screen and (min-width: $tablet) {
            display: flex;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
        }
    }

    .column {
        flex: none;
        max-width: 100%;
        margin-top: 0;
        

        @media screen and (min-width: $tablet) {
            flex: 0 0 50%;
            max-width: 50%;
        }

        h2 {
            font-size: 30px;
            line-height: 1.33;
            margin-bottom: 10px;

            @media screen and (min-width: $desktop) {
                font-size: 36px;
            }
        }

        p{
            font-size: 15px;
            line-height: 1.67;
            margin-bottom: 10px;

            @media screen and (min-width: $desktop) {
                margin-top: 35px;
            }
        }
    }

    .landing-about-feature {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;

        @media screen and (max-width: $mobile) {
            flex: none;
            max-width: 100%;
        }

        img {
            margin-bottom: 45px;
            vertical-align: middle;
            border-style: none;
        }

        h2 {
            line-height: 20px;
            font-weight: 700;
        }

        p {
            font-size: 16px;
            line-height: 28px;
            font-weight: 300;
            padding: 10px 0px;
        }
    }
}