.oleez-landing-section-team {
    padding-top: 130px;
    padding-bottom: 125px;

    .oleez-landing-section-content {
        padding-left: 212px;
        position: relative;
    }

    .oleez-landing-section-verticals {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        padding-top: 11px;
    }

    .number {
        font-size: 20px;
        color: #f7b500;
        line-height: 1;
        display: inline-block;
        margin-right: 13px;
    }

    .landing-team-content {
        margin-bottom: 52px;
    }

    .column {
        flex: 0 0 50%;
        max-width: 50%;


        .section-title {
            font-size: 30px;
            line-height: 1.33;
            font-weight: 500;
        }

        p{
            font-size: 15px;
            line-height: 1.67;
            margin-bottom: 10px;
        }
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;

        .team-card-name {
            font-size: 18px;
            font-weight: 500;
            line-height: 1;
            margin-bottom: 10px;
        }

        .team-card-job {
            font-size: 14px;
            line-height: 1;
            margin-bottom: 16px;
        }

        .team-card-social-links a {
            font-size: 14px;
            font-weight: 700;
            line-height: 1;
            margin-right: 10px;
            color: #100e0e;
        }
    }
}