.oleez-landing-section-carousel {
    margin-right: 15px;
    overflow: hidden;


    @media screen and (max-width: $desktop ) {
        padding-top: 130px;
        padding-bottom: 125px;
    }

    .oleez-landing-section-content {
        padding-left: 212px;
        position: relative;

            @media screen and (max-width: $mobile) {
                    padding-left: 10px;
                }
        }

    .oleez-landing-section-verticals {

        @media screen and (min-width: $desktop ) {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            padding-top: 11px;
        }

        img {

            @media screen and (max-width: $mobile) {
                display: none;
            }
        }
    }

    .landing-about-content {
        margin-bottom: 70px;

        @media screen and (max-width: $mobile) {

        }
    }

    .row {

        @media screen and (min-width: $desktop) {
            display: flex;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
        }
    }

    .oleez-landing-section-verticals .number {
        font-size: 20px;
        color: #f7b500;
        line-height: 1;
        display: inline-block;
        margin-right: 13px;
    }

    .column {
        flex: none;
        max-width: 100%;
        margin-left: 35px;
        margin-top: 0;
        @media screen and (max-width: $mobile) {
            flex: 0 0 50%;
            max-width: 50%;
        }


        h2 {
            font-size: 30px;
            line-height: 1.33;
            font-weight: 500;
            margin-bottom: 10px;
        }

        p{
            font-size: 15px;
            line-height: 1.67;
            margin-bottom: 10px;
        }
    }

    .landing-about-feature {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;

        @media screen and (max-width: $mobile) {
            flex: none;
            max-width: 100%;
        }

        img {
            margin-bottom: 45px;
            vertical-align: middle;
            border-style: none;
        }

        h2 {
            line-height: 20px;
            font-weight: 700;
        }

        p {
            font-size: 16px;
            line-height: 28px;
            font-weight: 300;
            padding: 10px 0px;
        }
    }

    .number {
        font-size: 1.25rem;
        color: #f7b500;
        line-height: 1;
        display: inline-block;
        margin-right: 0.8125rem;
    }
}