.oleez-landing-section-testimonials {
    padding-top: 130px;
    padding-bottom: 125px;
    background-color: #f8f4eb;

    .oleez-landing-section-content {
        padding-left: 212px;
        position: relative;
    }

    .oleez-landing-section-verticals {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        padding-top: 11px;
    }

    h2 {
        font-size: 30px;
        line-height: 1.33;
        font-weight: 500;
        margin-bottom: 10px;
    }

    .number {
        font-size: 1.25rem;
        color: #f7b500;
        line-height: 1;
        display: inline-block;
        margin-right: 0.8125rem;
    }

    .justify-content-between {
        justify-content: space-between;
    }

    .testimonial-section-content {
        margin-bottom: 100px;
    }

    .testimonial-carousel {
        padding-top: 19px;

        .slick-nav-btn {
            width: 45px;
            height: 45px;
            background-color: #000000;
            border: 0;
            border-radius: 0;
        }
    }
}