.oleez-footer {
    background-color: #0e0e0f;
    color: #ffffff;

    .wrapper {  
        padding-right: 15px;
        padding-left: 15px;
    }

    .footer-content {
        padding-top: 90px;
        padding-bottom: 45px;
        overflow: hidden;

        .row {
            display: flex;
            flex-wrap: wrap;
            margin-right: -15px;

            @media screen and (min-width: $tablet) {
                flex-wrap: nowrap;  
            }

            @media screen and (min-width: $desktop) {

            }
    
            .footer-logo {
                height: 30px;
                margin-bottom: 19px;
            }
            
            .column {
                position: relative;
                width: 100%;
                padding-right: 15px;
                padding-left: 15px;

                @media screen and (min-width: $tablet) {
                    flex: 0 0 50%;
                    max-width: 50%;
                }
        
                .footer-logo {
                    height: 30px;
                    margin-bottom: 19px;
                }
        
                .footer-intro-text {
                    font-size: 18px;
                    line-height: 1.5;
                    margin-bottom: 26px;
                    max-width: 288px;

                    @media screen and (min-width: $desktop) {
                        font-size: 22px;
                    }
                }
            }
        }
    }

    .footer-social-links {
        display: flex;

        a {
            font-size: 14px;
            font-weight: 700;
            line-height: 1;
            color: white;
            margin-right: 10px;

            @media screen and (min-width: $desktop) {
                font-size: 22px;
                margin-right: 22px;
            }
        }
    }

    .footer-widget-one {

        @media screen and (min-width: $tablet) {
            margin-right: 20px;
        }

        @media screen and (min-width: $desktop) {
            margin-right: 120px;
        }
    }

    .footer-widget {
        margin-bottom: 40px;

        @media screen and (min-width: $tablet) {
            flex: 0 0 50%;
        }

        .widget-title {
            font-size: 18px;
            font-weight: 500;
            line-height: 1.5;
            margin-bottom: 6px;
            color: #f7b500;

            @media screen and (min-width: $desktop) {
                font-size: 24px;
            }
        }

        .widget-content {
            font-size: 14px;
            line-height: 1.29;

            @media screen and (min-width: $desktop) {
                font-size: 18px;
            }
        }
    }

    .footer-text {
        display: block;
        padding: 44px 0px;

        @media screen and (min-width: $tablet) {
            display: flex;
            justify-content: space-between;
        }

        p {
            font-size: 14px;
            line-height: 1.29;

            @media screen and (min-width: $tablet) {
                display: flex;
                justify-content: space-between;
            }
        }

        .text-reset {
            color: white;
        }
    }

    .md-md-0 {

        @media screen and (min-width: $tablet) {
            display: flex;
        }
    }

    .column>row {
        flex-wrap: nowrap;
    }
}